mixin stats(pathPrefix = '')
  section.index-stats
    .container
      .d-flex.center.index-programs_stats
        .flex-1
          img(src=`${pathPrefix}assets/img/dst-ihub.png`, alt="dst hub", width="83px")
          span DST iHub
          span.subheadtext only DST iHub in India for AgriTech

        .flex-1
          img(src=`${pathPrefix}assets/img/funds-raised.png`, alt="funds raised", width="68px")
          span ₹1.1B
          span.subheadtext Funds raised

        .flex-1
          img(src=`${pathPrefix}assets/img/join-hands.png`, alt="join hands", width="85px")
          span 80+
          span.subheadtext Members working and growing  

        .flex-1
          img(src=`${pathPrefix}assets/img/incubators/benefits/infra.svg`, alt="funds raised", width="85px")
          span 7
          span.subheadtext Products developed 

        .flex-1
          img(src=`${pathPrefix}assets/img/incubators/benefits/startup-support.svg`, alt="funds raised", width="85px")
          span 11
          span.subheadtext Startups supported

